<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
	<link rel="stylesheet" type="text/css" href="/iconfont/iconfont.css">
	<script type="text/javascript" src="/js/jquery1.js"></script>
</head>
<body>
	<div id="header_1">
		<h1><img src="/images/topLogo.png"></h1>
		<ul id="oUl">
			<li><a href="#">
				<b id="diy" class="iconfont icon-sandaogangwutianchong "></b>
				<i id="diy1">更多模版堂产品</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-iconset0440"></b>
				<i>开店向导</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-icon-test"></b>
				<i>记事本</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-unie62a"></b>
				<i>刷新</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-shezhi"></b>
				<i>个人设置</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-liuyanjianyi"></b>
				<i>管理员留言</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-gouwuche"></b>
				<i>查看网店</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-jiufuqianbaoicon09"></b>
				<i>帮助</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-msnui-info"></b>
				<i>关于ECSHOP</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-shanchu3"></b>
				<i>清除缓存</i>
			</a></li>
			<li><a href="#">
				<b class="iconfont icon-tuichu"></b>
				<i>退出</i>
			</a></li>
		</ul>
	</div>
	<div id="nav_1">
		<ol id="oOl">
			<li><img src="/images/index-11_07.png"><a href="">起页始</a></li>
			<li><img src="/images/index-11_41.png"><a href="">设置导航栏</a></li>
			<li><img src="/images/index-11_09.png"><a href="">商品管理</a><span>0</span></li>
			<li><img src="/images/dd.png"><a href="">订单管理</a><span>0</span></li>
			<li><img src="/images/index-11_13.png"><a href="">广告管理</a><span>0</span></li>
			<li><img src="/images/index-11_19.png"><a href="">用户评论</a><span>0</span></li>
		</ol>
		<ul id="oUl1">
			<li><a href="#">商品列表</a></li>
			<li><a href="#">订单列表</a></li>
			<li><a href="#">用户评价</a></li>
			<li><a href="#">会员列表</a></li>
			<li><a href="#">商店设置</a></li>
			<li><a href="#">移动版</a></li>
			<li><a href="#">服务市场</a></li>
		</ul>
	</div>
	<div id="left">
		<ul id="leftUL">
			<p>导航菜单</p>
			<li id="oLi">
				<span class="iconfont icon-icon-test"></span>
				商品管理<i class="iconfont icon-jiahao"></i>
				<ul class="zUl">
					<li><a href="/html/shangp.html" target="conten">商品列表</a></li>
					<li><a href="/html/fenglie.html" target="conten"">添加新商品</a></li>
					<li><a href="#">商品分类</a></li>
					<li><a href="#">用户评论</a></li>
					<li><a href="#">商品品牌</a></li>
					<li><a href="#">商品类型</a></li>
					<li><a href="#">商品回收站</a></li>
					<li><a href="#">图片批量处理</a></li>
					<li><a href="#">商品批量上传</a></li>
					<li><a href="#">商品批量导出</a></li>
					<li><a href="#">商品批量修改</a></li>
					<li><a href="#">生成商品代码</a></li>
					<li><a href="#">标签管理</a></li>
					<li><a href="#">虚拟商品列表</a></li>
					<li><a href="#">添加虚拟商品</a></li>
					<li><a href="#">更改加密串</a></li>
					<li><a href="#">商品自动上下架</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-iconset0216"></span>促销管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-dingdan"></span>订单管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-laba"></span>广告管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-baifenbi"></span>报表管理
				<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-guanlishipin"></span>
				文章管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-iconset0202"></span>会员管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-12quanxianguanli"></span>权限管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-dianshiji"></span>系统设置<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-guanlishipin"></span>模版管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-baifenbi"></span>数据库管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-liuyanjianyi"></span>
				短信管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-zan"></span>推荐管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-youjianxinjian"></span>邮件群发管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-dianshiji"></span>移动版管理<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
			<li>
				<span class="iconfont icon-dianshiji"></span>模版堂知识库<i class="iconfont icon-jiahao"></i>
				<ul id="zUl1">
					<li><a href="#">夺宝奇兵</a></li>
					<li><a href="#">红包类型</a></li>
					<li><a href="#">商品包装</a></li>
					<li><a href="#">祝福贺卡</a></li>
					<li><a href="#">团购活动</a></li>
					<li><a href="#">专题管理</a></li>
					<li><a href="#">拍卖活动</a></li>
					<li><a href="#">优惠活动</a></li>
					<li><a href="#">批发管理</a></li>
					<li><a href="#">积分商城商品</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="centen">
		<iframe src="" id="conten" name="conten"></iframe>
	</div>
</body>
</html>
<script type="text/javascript">
	$("li").click(function(e){
		var e = e || evt;
		e.stopPropagation();
	})
	for(var i = 0 ; i < $("li:has(ul)").length ; i++){
		$("li:has(ul)").eq(i).click(function(){
				if($(this).children("ul").css("display") == "none"){
				$(this).children("ul").css("display","block");
				$(this).children("i").attr("class","iconfont icon-jianhao");
			}else{
				$(this).children("ul").css("display","none");
				$(this).children("i").attr("class","iconfont icon-jiahao");
			}
			})
	}
		
	
</script>